<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.ssm.dao.InfoDao">
	<insert id="addInfo" parameterType="Info">
		INSERT INTO
			info(u_id,real_name,sex,age,edu,phone,
			email,d_id,p_id,politics,last_job,work_year,
			salary_exp,hobby,readed,type,entryTime,msg)
		VALUES
			(#{uId},#{realName},#{sex},#{age},#{edu},#{phone},
			#{email},#{dept.dId},#{position.pId},#{politics},
			#{lastJob},#{workYear},#{salaryExp},#{hobby},
			#{readed},#{type},#{entryTime},#{msg})
	</insert>
	
	<delete id="delInfoById" parameterType="int">
		DELETE FROM
			info
		WHERE
			i_id=#{iId}
	</delete>
	
	<update id="updateInfo" parameterType="Info">
		UPDATE
			info
		SET
			u_id=#{uId},
			real_name=#{realName},
			sex=#{sex},
			age=#{age},
			edu=#{edu},
			phone=#{phone},
			email=#{email},
			d_id=#{dept.dId},
			p_id=#{position.pId},
			politics=#{politics},
			last_job=#{lastJob},
			work_year=#{workYear},
			salary_exp=#{salaryExp},
			hobby=#{hobby},
			readed=#{readed},
			type=#{type},
			entryTime=#{entryTime},
			msg=#{msg}
		WHERE
			i_id=#{iId}
	</update>
	
	<select id="queryAllInfos" resultMap="Info_dept_posi">
		SELECT 
			*
		FROM 
			info i,departments d,positions p
		WHERE
			i.d_id=d.d_id AND i.p_id=p.p_id
	</select>	
	<select id="queryInfoByuId" parameterType="int" resultMap="Info_dept_posi">
		SELECT 
			*
		FROM 
			info i,departments d,positions p
		WHERE
			i.d_id=d.d_id AND i.p_id=p.p_id AND i.u_id=#{uId}
	</select>
	<resultMap type="Info" id="Info_dept_posi">
		<id property="iId" column="i_id"/>
		<result property="uId" column="u_id"/>
		<result property="realName" column="real_name"/>
		<result property="sex" column="sex"/>
		<result property="age" column="age"/>
		<result property="edu" column="edu"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="politics" column="politics"/>
		<result property="lastJob" column="last_job"/>
		<result property="workYear" column="work_year"/>
		<result property="salaryExp" column="salary_exp"/>
		<result property="hobby" column="hobby"/>
		<result property="readed" column="readed"/>
		<result property="type" column="type"/>
		<result property="entryTime" column="entryTime"/>
		<result property="msg" column="msg"/>
		<association property="dept" javaType="Department">
			<id property="dId" column="d_id"/>
			<result property="dName" column="d_name"/>
		</association>
		<association property="position" javaType="Position">
			<id property="pId" column="p_id"/>
			<result property="pName" column="p_name"/>
			<result property="dId" column="d_id"/>
		</association>
	</resultMap>
</mapper>